{
    "CN": "system:node:{{ private_dns_name }}",
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "names": [
        {
            "C": "FR",
            "L": "Suresnes",
            "O": "system:nodes",
            "OU": "Kubernetes The Hard Way",
            "ST": "Hauts de Seine"
        }
    ]
}